.AddReading {
    font-size: 1.6rem;
    margin-top: 2rem;
    input {
        width: 50%;
        font-size: 1.6rem;
        margin: 0 25% 2rem 25%;
    }
    button {
        font-size: 1.4rem;
        margin: 2rem auto;
        height: 2.4rem;
        width: 25%;
        border-radius: 1.2rem;
    }
}