.App {
  text-align: center;
  width: 20vw;
  min-width: 375px;
  margin: 0 auto;
  background-color: #EEEEEE;
  height: 100vh;
  max-height: 812px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  abbr {
    text-decoration: none;
  }
}
