.modal-show {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 20vw;
    min-width: 375px;
    top: 0;
    form {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: calc(100% - 8px);
        margin: 50% auto 0 auto;
        outline: auto;
        .close-button {
            display: flex;
            justify-content: flex-end;
            button {
                margin: 1rem;
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem;
                border: none;
                color: white;
                background-color: red;
            }
        }
    }
}

.modal-hide {
    display: none;
}