.footer-container {
    height: 10%;
    div {
        height: 100%;
        font-size: 1.6rem;
        svg {
            height: 3rem;
            width: 3rem;
        }
        .troubleshoot-svg {
            width: 2.5rem;
        }
    }
}

.MuiBottomNavigationAction-root {
    font-size: 1rem;
    .Mui-selected {
        font-size: 1rem;
    }
}