.nav-container {
    height: 10%;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    svg {
        height: 3rem;
        width: 3rem;
        margin: 3rem;
    }
}

.nav-link {
    font-size: 1.4rem;
    margin: 0 auto;
}