.Pool {
    font-size: 1.6rem;
    .pool-container {
        h3 {
            margin: 1rem 0;
        }
        p {
            margin: 1rem 0;            
        }
    }
    a {
        color: green;
    }
}