.register-container {
    font-size: 1.6rem;
    margin-top: 2rem;
    form {
        .auth-form-input {
            width: 74%;
            margin: 2rem 13%;
            label {
                font-size: 1.4rem;
            }
            input {
                font-size: 1.8rem;
            }
        }
        .form-button {
            background-color: #1974D2;
            color: white;
            margin: 2rem 25%;
            font-size: 1.4rem;
        }
    }
}